<div id="container">
	<div id="content" style="position: relative" class="clearfix">
        <div class="habblet-container" style="float:left; width:210px;">
            <div class="cbb settings">
                <h2 class="title">Cambiar tu perfil</h2>
                <div class="box-content">
                    <div id="settingsNavigation">
                        <ul>
                        <?php
                        $NavigationPages = [
                        'MI ESTADO' => '/profile?tab=2',
                        'EMAIL Y VERIFICACIÓN' => '/profile?tab=3',
                        'MI CONTRASEÑA' => '/profile?tab=4'
                        ];

                        $NavigationUrls = [
                        'MI ESTADO' => ['/profile', '/profile?tab=2', '/profile/profileupdate'],
                        'EMAIL Y VERIFICACIÓN' => ['/profile?tab=3', '/profile/emailupdate'],
                        'MI CONTRASEÑA' => ['/profile?tab=4', '/profile/passwordupdate']
                        ];

                        foreach ($NavigationPages as $PageName => $PageUrl):
                        
                        ?>
                            <li <?php if(in_array($_SERVER['REQUEST_URI'], $NavigationUrls[$PageName])) { echo 'class="selected"'; } ?>><?php if(!in_array($_SERVER['REQUEST_URI'], $NavigationUrls[$PageName])): ?><a href="<?php echo URL . $PageUrl; ?>"><?php endif; ?><?php echo $PageName; ?></a></li>
                        <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <?php if($tabId == 2): ?>
        <div class="habblet-container " style="float:left; width: 560px;">
            <div class="cbb clearfix settings">
                <h2 class="title">Cambiar tu perfil</h2>
                <div class="box-content">
                    <?php if(!empty($result)): ?>
                        <div class="rounded rounded-<?php echo isset($error) ? 'red' : 'green'; ?>"><?php echo $result; ?><br /></div><div>&nbsp;</div>
                    <?php endif; ?>
    
                    <form action="<?php echo URL; ?>/profile/profileupdate" method="post" id="profileForm">
                        <input type="hidden" name="tab" value="2" />
    
                        <h3>Tu estado</h3>
    
                        <p>Tu estado podrá ser visto por todos, ¡piénsalo bien!</p>
                        <p>
                            <label>Estado:
                            <input type="text" name="motto" size="32" maxlength="32" value="<?php echo User::$Data['motto']; ?>" id="avatarmotto" /></label>
                        </p>
    
                        <h3>Tu Página</h3>
    
                        <p>Permitir a otros usuarios ver tu Página personal:<br />
                            <?php
                                $Home1 = '';
                                $Home0 = '';
    
                                if(USER::$Row['visibility'] === 'EVERYONE')
                                    $Home1 = ' checked="checked"';
                                else
                                    $Home0 = ' checked="checked"';
                        ?>
                            <label><input type="radio" name="visibility" value="EVERYONE"<?php echo $Home1; ?> />Todos</label>
                            <label><input type="radio" name="visibility" value="NOBODY"<?php echo $Home0; ?> />No</label>
                        </p>
    
                        <input type="hidden" name="emailFriendRequestAlertEnabled" value="true" />
    
                        <h3>Peticiones de amigos</h3>
                        
                        <p>
                            <label>
                                <input type="checkbox" name="block_newfriends" <?php if(User::$Row['block_newfriends'] == 0) echo 'checked="checked"'; ?> value="true"/>Peticiones de Amigos activadas 
                            </label>
                        </p>
    
                        <?php
                        if(USER::$Row['hide_online'] == '0')
                            $Home1 = ' checked="checked"';
                        else
                            $Home0 = ' checked="checked"';
                        ?>
                        <h3>Estado de la conexión</h3>
                    
                        <p>
                            Elige quién puede ver si estás conectado:
                            <label><input name="showOnlineStatus" value="false"<?php echo $Home1; ?> type="radio">Nadie</label>
                            <label><input name="showOnlineStatus" value="true"<?php echo $Home0; ?> type="radio">Todos</label>
                        </p>
    
                        <!--<h3>Diseño</h3>
                            
                        <p>
                            Si un style falla, borra cookies de este sitio. <br />
                            <label>Elige: </label>
                            <select id="colorv" name="style">
                                <option id="style_-1" value='-1'>Diseño Habbo</option>
                                <?php
                                /*if(isset($SiteSettings['Styles']) && count($SiteSettings['Styles']) > 0):
                                    foreach($SiteSettings['Styles'] as $Key => $Row): if(!$Row['Actived'])	continue;*/ ?>
                                    <option id="style_<?php echo $Key; ?>" value='<?php echo $Key; ?>'><?php echo $Row['Title']; ?></option>
                                <?php
                                /* endforeach;
                                endif;*/ ?>
                            </select>
                        </p>-->
    
                        <!--<h3>Plugins</h3>
                        
                        <p>
                            Elige los plugins que quieres ver: <br />
                        <?php
                        /*$Addon['Query'] = $MySQLi->query('SELECT id, title FROM xdrcms_addons WHERE canDisable = TRUE');
                        $userAdoonJson = json_decode(USER::$Row['AddonData'], true);
                        
                        while($Addon['Row'] = $Addon['Query']->fetch_assoc())
                        {
                                if($userAdoonJson != null):
                                    $userAdoon = (isset($userAdoonJson[$Addon['Row']['id']])) ? $userAdoonJson[$Addon['Row']['id']] : true;
                                else:
                                    $userAdoon = true;
                                endif;*/
                                ?>
                        <label><input type="checkbox" name="addon_<?php echo $Addon['Row']['id']; ?>" <?php if($userAdoon == "1") { ?>checked='checked'<?php } ?> value="true"/>
                        <?php echo $Addon['Row']['title']; ?></label> <br />
                                <?php/*
                        }*/
                        ?>
                        </p>-->
    
                        <div class="settings-buttons">
                            <a href="#" class="new-button" style="display: none" id="profileForm-submit"><b>Salvar cambios</b><i></i></a>
                            <noscript><input type="submit" value="Salvar cambios" name="save" class="submit" /></noscript>
                        </div>
                    </form>
    
                    <script type="text/javascript">
                        $("profileForm-submit").observe("click", function(e) { e.stop(); $("profileForm").submit(); });
                        $("profileForm-submit").show();
                    </script>
                </div>
            </div>
        </div>
        <?php elseif($tabId == 4): ?>
        <div class="habblet-container" style="float:left; width: 560px;">
            <div class="cbb clearfix settings">
                <h2 class="title">Cambia tu contraseña</h2>
                <div class="box-content">
                    <?php if(USER::$IsFB): ?>
                        <p>Sólo podrás cambiar la contraseña una vez te hayas conectado con tu <?php echo $hotelName; ?> cuenta</p>
                    <?php else: ?>
                        <p>Hemos visto que te has conectado usando tu cuenta <?php echo HotelName; ?>. Para cambiar tu contraseña deberás ir a la página de ajustes de tu cuenta. Haz clic en el link de debajo para ir a esa página</p>
                        <p><a href="<?php echo URL; ?>/identity/password">Ir a la página para cambiar mi contraseña de la cuenta <?php echo HotelName; ?></a></p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>

<script type="text/javascript">
    if (typeof HabboView != "undefined") {
        HabboView.run();
    }
    document.getElementById("style_<?php echo (isset($_COOKIE['customStyle']) && is_numeric($_COOKIE['customStyle'])) ? $_COOKIE['customStyle'] : '-1'; ?>").setAttribute("selected", true);
</script>